[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.6'

[dev-packages]
'pytest' = '*'

[packages]
'Jinja2' = '*'
'requests' = '*'
'ruamel.yaml' = '*'
'imageio' = '*'
'selenium' = '*'
